html::-webkit-scrollbar{
    background-color: rgb(44, 43, 43);
    width:1rem;

}
body{
    font-family: 'Francois One'
}
html::-webkit-scrollbar-thumb{
background-color: #019031;
height: 1px;
border-radius:25px;
}
#about{
    background-color:transparent; 
    border-style: solid;
    box-shadow: 0.15rem 0.25rem 1rem 0.5rem   rgb(0, 255, 64);
   border-width: medium;
 }
#profile{
    border-style: solid;
    border-color: green;
    border-width: large;
    cursor: pointer;
    transition: 0.6s;
}
#profile:hover{
    transform:  scale(1.1);
    
}
.a {
    cursor: pointer;
}
span{
    cursor: pointer;
    
}
.fb{
    transition: .5s;
    color: #3B5998;
}
.fb::before{
    
    position:absolute;
    background: #3B5998;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.fb:hover:before{
    transform: scale(1.1);
    text-shadow: 1 1 1rem #3B5998;
}
.fb:hover{
    color: #3B5998;
    text-shadow: 0 0 2rem #3B5998;
   
}

.lk{
    color: #0077B5;
    transition: .5s;
}
.lk::before{
    position:absolute;
    background: #0077B5;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.lk:hover:before{
    transform: scale(1.1);
    text-shadow: 1 1 1rem #0077B5;
}
.lk:hover{
    color: #0077B5;
    text-shadow: 0 0 2rem #0077B5
}
.tw{
    color: #1DA1F2;
    transition: .5s;
}
.tw::before{
    position:absolute;
    background: #1DA1F2;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.tw:hover:before{
    transform: scale(1.1);
    text-shadow: 1 1 1rem #1DA1F2;
}
.tw:hover{
    color: #1DA1F2;
    text-shadow: 0 0 2rem #1DA1F2;
}
.gt{
    color: #211F1F;
    transition: .5s;
}
.gt::before{
    position:absolute;
    background: #211F1F;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.gt:hover:before{
    transform: scale(1.1);
    text-shadow: 1 1 1rem #211F1F;
}
.gt:hover{
    color: #211F1F;
    text-shadow: 0 0 2rem #211F1F
}
.hk{
    color: green;
    transition: .5s;
}
.hk::before{
    position:absolute;
    background: green;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.hk:hover:before{
    transform: scale(1.1);
    text-shadow: 1 1 1rem green;
}
.hk:hover{
    color: green;
    text-shadow: 0 0 2rem green
}
.abt{
    border-bottom: green;
    border-width:thick!important
}
.prj{
    border-bottom: green;
    border-width:thick!important
}
.cnt{
    border-bottom: green;
    border-width:thick!important
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 15px 5px rgb(0, 255, 64), -5px -5px 15px 5px rgb(0, 255, 64);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 15px 10px rgb(0, 255, 64), 
      -5px -5px 15px 10px rgb(0, 255, 64);
  }
  
  .title-white {
    color: white;
  }